html, body, .wrapper {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
  font-family: sans-serif;
}

.wrapper {
  margin: 0 auto;
}

header {
  grid-column: span 2;
  text-align: center;
}

nav {
  background-color: rgb(31, 149, 189);
  text-transform: uppercase;
}

nav ul {
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: space-between;
}

nav li {
  padding: 1em;
  list-style-type: none;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  background-color: black;
  border-radius: 1.5em;
}

ul {
    padding: 0em;
}

ul li {
    list-style: none;
    padding: 0.5em 0em;
}

main {
  background-color: lightblue;
  padding: 1em 2em;
  overflow: hidden;
}

table {
    width: 100%;
}
  
table, td {
    border-collapse: collapse;
    border: 1px solid #000;
}
  
thead {
    display: table; /* to take the same width as tr */
    width: calc(100% - 17px); /* - 17px because of the scrollbar width */
}
  
tbody {
    display: block; /* to enable vertical scrolling */
    max-height: 300px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
}
  
th, td {
    width: 4%; /* to enable "word-break: break-all" */
    padding: 5px;
    word-break: break-all; /* 4. */
}

th {
    font-size: 78%;
}
  
tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}
  
td {
    text-align: center;
    border-bottom: none;
    border-left: none;
}

footer {
  clear: both;
  text-align: center;
  grid-column: span 2;
}

/* LOGIN SCREEN CSS */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.selectbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #5c73f5;
}

.submitbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #4CAF50;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

/* Team Selection CSS */
.selection-columns {
    padding: 20px;
    margin: .5em;
    background-color: #91c7fa;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;
}

@media (max-width : 425px) {
    .wrapper {
        font-size: 6vw;
    }
}

@media (max-width : 1224px) {
    .wrapper {
        font-size: 2vw;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    nav li a {
        padding: 1em 3em;
        text-decoration: none;
    }
}

@media (min-width : 1224px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 8fr 1fr;
        grid-gap: 10px;
    }
}